:root {
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);

    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);

    --white: #fff;
    --black: #000;

    --spacing-50: 0.25rem;
    --spacing-100: 0.5rem;
    --spacing-150: 0.75rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-1100: 5.5rem;
}

@font-face {
    font-family: 'Red Hat';
    src: url(../assets/fonts/RedHatText-VariableFont_wght.woff2) format('woff2');
    font-weight: 300 700;
}

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Red Hat', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    background: var(--rose-50);
    padding: var(--spacing-300);

    /*----- Desserts / Cards Section -----*/
    .desserts-wrapper {

        h1 {
            color: var(--rose-900);
            font-size: 2.5rem;
            line-height: 120%;
        }
        .cards-wrapper {
            display: grid;
            gap: var(--spacing-300);
            margin-top: var(--spacing-400);

            .card {

                .img-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        border-radius: var(--spacing-100);
                    }
                    .item-btn {
                        width: 10rem;
                        height: 2.75rem;
                        position: relative;
                        bottom: 1.5rem;

                        /* .btn-wrapper {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            border-radius: 62.4375rem;
                            position: absolute;
                            background: var(--red);
                            justify-content: space-around;
                            border: none;

                            div {
                                color: var(--white);
                                font-size: 0.875rem;
                                font-weight: 600;
                            } */
                        }
                        button {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            border-radius: 62.4375rem;
                            position: absolute;
                        }
                        button:first-child {
                            background: var(--white);
                            justify-content: center;
                            border: 1px solid var(--rose-400);

                            svg {
                                margin-right: var(--spacing-100);
                            }
                            p {
                                color: var(--rose-900);
                                font-size: 0.875rem;
                                font-weight: 600;
                            }
                        }
                        button:last-child {
                            background: var(--red);
                            justify-content: space-around;
                            border: none;

                            /* display: none; */
                            div {
                                color: var(--white);
                                font-size: 0.875rem;
                                font-weight: 600;
                            }
                        }
                    }
                }
                .card-info {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-50);
                    
                    .item-category {
                        color: var(--rose-500);
                        font-size: 0.875rem;
                        font-weight: 400;
                    }
                    p {
                        color: var(--rose-900);
                        font-size: 1rem;
                        font-weight: 600;
                    }
                    .item-price {
                        color: var(--red);
                        font-size: 1rem;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    /*-------- Cart Section --------*/
    .cart-wrapper {
        margin-top: var(--spacing-400);

        .empty-cart {
            background: var(--white);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--spacing-300);
            padding: var(--spacing-300);
            border-radius: var(--spacing-150);

            h2 {
                color: var(--red);
                font-size: 1.5rem;
                font-weight: 700;
                align-self: flex-start;
            }
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: var(--spacing-200);
                padding: var(--spacing-200) 0;

                p {
                    color: var(--rose-500);
                    font-size: 0.875rem;
                    font-weight: 600;
                    text-align: center;
                }
            }
        }
        .active-cart {
            background: var(--white);
            display: flex;
            flex-direction: column;
            gap: var(--spacing-300);
            padding: var(--spacing-300);

            h2 {
                color: var(--red);
                font-size: 1.5rem;
                font-weight: 700;
            }
            .added-items {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-400);

                .added-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .added-item-info {

                        p {
                            color: var(--rose-900);
                            font-size: 0.875rem;
                            font-weight: 600;
                        }
                        .item-qty-pr {
                            display: flex;
                            gap: var(--spacing-100);
                            margin-top: var(--spacing-100);

                            span:nth-child(1) {
                                color: var(--red);
                                font-size: 0.875rem;
                                font-weight: 600;
                            }
                            span:nth-child(2) {
                                color: var(--rose-500);
                                font-size: 0.875rem;
                                font-weight: 400;
                            }
                            span:nth-child(3) {
                                color: var(--rose-500);
                                font-size: 0.875rem;
                                font-weight: 600;
                            }
                        }
                    }
                    button {
                        width: 1.25rem;
                        height: 1.25rem;
                        border: 1px solid var(--rose-400);
                        border-radius: 50%;
                    }
                }
            }
            .order-total {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    color: var(--rose-900);
                    font-size: 0.875rem;
                    font-weight: 400;
                }
                strong {
                    color: var(--rose-900);
                    font-size: 1.5rem;
                    font-weight: 700;
                }
            }
            .cn-info {
                background: var(--rose-50);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: var(--spacing-100);
                padding: var(--spacing-200);
                border-radius: var(--spacing-100);

                p {
                    color: var(--rose-900);
                    font-size: 0.875rem;
                    font-weight: 400;

                    span {
                        color: var(--rose-900);
                        font-weight: 600;
                    }
                }
            }
            #confirm-order {
                color: var(--white);
                background: var(--red);
                font-size: 1rem;
                font-weight: 600;
                padding: var(--spacing-200) var(--spacing-300);
                border: none;
                border-radius: 62.4375rem;
            }
        }
    }
}